 body {
     background-color: blue;
     margin: 0;
 }
 
 #jim {
   background: yellow;
   position: relative;
   height: 200px;
   width: 200px;
}

img {
    max-height: 200px;
    max-width: 200px;
    position: absolute;
    margin: auto;
    top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }
