body {
    background-color: pink;
    margin: 0;
}

#jim {
    height: 200px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

img {
    max-height: 200px;
    max-width: 200px;
    
}
